@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f3f7f5;
  color: #111827;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}